<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1"
    />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../style/adminpanel.css" />
    <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <input type="checkbox" id="menu-toggle" />
    <div class="sidebar">
      <div class="side-header">
        <img
          style="width: 110%; margin-top: 20px"
          src="../images/output-onlinepngtools.png"
          alt=""
        />
      </div>

      <div class="side-content">
        <div id="profile" class="profile">
          <div id="profileimg" class="profile-img bg-img"></div>
        </div>

        <div class="side-menu">
          <ul>
            <li>
              <a href="adminpanel.html" class="active">
                <span class="las la-home"></span>
                <small>Dashboard</small>
              </a>
            </li>

            <li>
              <a href="usersAdminpanel.html">
                <span class="las la-user-friends"></span>
                <small>Users</small>
              </a>
            </li>
            <li>
              <a href="driverAdminpanel.html">
                <span class="las la-taxi"></span>
                <small>Drivers</small>
              </a>
            </li>
            <li>
              <a href="">
                <span class="las la-envelope"></span>
                <small>Mailbox</small>
              </a>
            </li>
            <li>
              <a href="servicesAdminpanel.html">
                <span class="las la-clipboard-list"></span>
                <small>Services</small>
              </a>
            </li>
            <li>
              <a href="../view/adminprofile.html">
                <span class="las la-user-alt"></span>
                <small>Profile</small>
              </a>
            </li>
            <li>
              <a href="">
                <span class="las la-tasks"></span>
                <small>Tasks</small>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="main-content">
      <header>
        <div class="header-content">
          <label for="menu-toggle">
            <span class="las la-bars"></span>
          </label>

          <div class="header-menu">
            <label for="">
              <span class="las la-search"></span>
            </label>

            <div class="notify-icon">
              <span class="las la-envelope"></span>
              <span class="notify"></span>
            </div>

            <div class="notify-icon">
              <span class="las la-bell"></span>
              <span class="notify"></span>
            </div>

            <div class="user">
              <div id="profileimg1" class="client-img bg-img"></div>

              <button id="logoutButton">
                <span class="las la-power-off"></span>
                <span>Logout</span>
              </button>
            </div>
          </div>
        </div>
      </header>

      <main>
        <div class="page-header">
          <h1>Dashboard</h1>
          <small>Home / Dashboard</small>
        </div>

        <div class="page-content">
          <div class="cards-container">
            <div class="card1">
              <div class="card-head">
                <h2 id="totaladministrators">Loading...</h2>
                <span class="las la-home"></span>
              </div>
              <div class="card-progress" id="administatorProgress"></div>
              <small>Administrators</small>
            </div>
          
            <div class="card1">
              <div class="card-head">
                <h2 id="totalSuper">Loading...</h2>
                <span class="las la-user"></span>
              </div>
              <div class="card-progress" id="superProgress"></div>
              <small>super-admins</small>
            </div>

            <div class="card1">
              <div class="card-head">
                <h2 id="totalAdmins">Loading...</h2>
                <span class="las la-user-friends"></span>
              </div>
              <div class="card-progress" id="adminProgress"></div>
              <small>admins</small>
            </div>

            
          
            <div class="card1">
              <div class="card-head">
                <h2 id="totalDrivers">Loading...</h2>
                <span class="las la-car"></span>
              </div>
              <div class="card-progress" id="driversProgress"></div>
              <small>Drivers</small>
            </div>
            <div class="card1">
              <div class="card-head">
                <h2 id="totalUsers">Loading...</h2>
                <span class="las la-users"></span>
              </div>
              <div class="card-progress" id="usersProgress"></div>
              <small>Users</small>
            </div>


          </div>

          

          <div class="records table-responsive">
            <div class="record-header">
              <div class="add">
                <span>Entries</span>
                <select name="" id="">
                  <option value="">ID</option>
                </select>
                <button id="openModalBtn">Add</button>
              </div>

              <div class="browse">
                <input
                  type="search"
                  placeholder="Search"
                  class="record-search"
                />
                <select name="" id="">
                  <option value="">Status</option>
                </select>
              </div>
            </div>

            <div>
              <table width="100%" id="userTable">
                <thead>
                  <tr>
                    <th>#</th>
                    <th data-sort="admin">
                      <span class="las la-clipboard-list"></span> ADMIN
                    </th>
                    <th data-sort="username">
                      <span class="las la-sort"></span> USER_NAME
                    </th>
                    <th data-sort="mobile"><span class=""></span> MOBILE</th>
                    <th data-sort="registeredDate">
                      <span class="las la-sort"></span> REGITERED DATE
                    </th>
                    <th data-sort="role">
                      <span class="las la-sort"></span> ROLE
                    </th>
                    <th data-sort="designation">
                      <span class="las la-sort"></span> DESIGNATION
                    </th>
                    <th data-sort="dob">
                      <span class="las la-sort"></span> DATE OF BIRTH
                    </th>
                    <th><span class=""></span> ACTIONS</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
              <div id="pagination"></div>
            </div>
          </div>
          <div class="modal" tabindex="-1" role="dialog" id="addRecordModal">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Add administator</h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <!-- Form fields for adding a record -->
                  <form id="addRecordForm">
                    <label for="image">Image URL:</label>
                    <input type="text" id="image"/>

                    <label for="name">Name:</label>
                    <input type="text" id="name" required />

                    <label for="username">Username:</label>
                    <input type="text" id="username" required />

                    <label for="email">Email:</label>
                    <input type="email" id="email" required />

                    <label for="password">Password:</label>
                    <input type="password" id="password" required />

                    <label for="mobile">Mobile:</label>
                    <input type="number" id="mobile" required />

                    <label for="role">Role:</label>
                    <select id="role" required>
                      <option value="admin">admin</option>
                      <option value="super-admin">super-admin</option>
                    </select>

                    <label for="designation">Designation:</label>
                    <input type="text" id="designation" required />

                    <label for="date">Date of Birth:</label>
                    <input type="date" id="dateofbirth" required />

                    <button id="addbtn" type="submit" class="btn btn-primary">
                      Add Record
                    </button>
                    <button id="editbtn" type="submit" class="btn btn-primary">
                      update
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="../script/analysis.js"></script>
    <script src="../script/adminpanel.js"></script>
    
    <script src="../script/profilephto.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
