<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style/driver-panel.css" />
    <script
      defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBl63QTmfYk3TROXtYhlDbB4KZ_lPe6EZE&libraries=places&callback=initMap"
    ></script>
    <!-- header css -->
    <!-- <link rel="stylesheet" href="../style/justheader.css" /> -->
    <!-- footer css-->
    <link rel="stylesheet" href="../style/footer.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
    <!-- footer css -->
    <title>Driver Panel</title>
    <link
      rel="shortcut icon"
      href="../images/favicon.svg"
      type="image/x-icon"
    />
  </head>
  <body>
    <!-- header -->
    <div id="externalContent"></div>

    <!-- header -->
    <div style="padding-bottom: 50px; padding-top: 50px;" class="container1" >
      <div id="side-panel">
        <div id="ride-requests">
          <!-- <h2>Ride Requests</h2> -->
          <!-- <ul id="ride-list"> -->
          <!-- Ride requests will be dynamically added here -->
          <!-- <li>User 1 <button>Accept</button></li>
            <li>User 1 <button>Accept</button></li>
            <li>User 1 <button>Accept</button></li>
            <li>User 1 <button>Accept</button></li> -->
          <!-- Add more ride requests as needed -->
          <!-- </ul> -->
        </div>

        <div id="driver-status" >
          <h2>Driver Status</h2>
          <p id="status">Unavailable</p>
          <button id="toggle-status">Toggle Status</button>
        </div>
      </div>
      <div id="map-container">
        <div id="map"></div>
      </div>
    </div>
    <!-- footer -->
    <!-- <div class="brands">
          <div class="small-container">
            <div class="row">
              <div class="col-5">
                <img src="../images/logo-godrej.png" />
              </div>
              <div class="col-5">
                <img src="../images/logo-oppo.png" />
              </div>
              <div class="col-5">
                <img src="../images/logo-coca-cola.png" />
              </div>
              <div class="col-5">
                <img src="../images/logo-paypal.png" />
              </div>
              <div class="col-5">
                <img src="../images/logo-philips.png" />
              </div>
            </div>
          </div>
        </div>
     -->
    <!-- footer -->
    <div class="brands1">
      <div class="small-container11">
        <div class="row1">
          <div class="col-51">
            <img src="../images/logo-godrej.png" />
          </div>
          <div class="col-51">
            <img src="../images/logo-oppo.png" />
          </div>
          <div class="col-51">
            <img src="../images/logo-coca-cola.png" />
          </div>
          <div class="col-51">
            <img src="../images/logo-paypal.png" />
          </div>
          <div class="col-51">
            <img src="../images/logo-philips.png" />
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <div class="footer">
      <div class="container111">
        <div class="row1">
          <div class="footer-col-1">
            <h3>Download Our App</h3>
            <p>Download App for Android and ios mobile phone.</p>
            <div class="app-logo">
              <img src="../images/play-store.png" />
              <img src="../images/app-store.png" />
            </div>
          </div>
          <div class="footer-col-2">
            <img src="../images/output-onlinepngtools (1).png" />
            <p>
              Our Purpose is we ignite opportunity by setting the world in
              motion
            </p>
          </div>
          <div class="footer-col-3">
            <h3>Useful Links</h3>
            <ul>
              <li>Coupons</li>
              <li>Blog Post</li>
              <li>Return Policy</li>
              <li>Join Affiliate</li>
            </ul>
          </div>
          <div class="footer-col-4">
            <h3>Follow Us</h3>
            <ul>
              <li>Facebook</li>
              <li>Twitter</li>
              <li>Instagram</li>
              <li>Youtube</li>
            </ul>
          </div>
        </div>
        <hr />
        <p class="copyright">
          <i class="fa-regular fa-copyright"></i> RideShareX Made with
          <i class="heart fa-solid fa-heart"></i> tech-Sankat-Nivran
        </p>
      </div>
    </div>

    <!-- footer -->

    <script src="../script/driver-panel.js"></script>
    <!-- <script src="../script/header.js"></script> -->
    <script src="../script/joinhtml.js"></script>
    <script src="../script/userLogout.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
