<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1"
    />
    <title>Admin Dashboard | Keyframe Effects</title>
    <link rel="stylesheet" href="../style/adminpanel.css" />
    <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
    />
  </head>
  <body>
    <input type="checkbox" id="menu-toggle" />
    <div class="sidebar">
      <div class="side-header">
        <img
          style="width: 110%; margin-top: 20px"
          src="../images/output-onlinepngtools.png"
          alt=""
        />
      </div>

      <div class="side-content">
        <div id="profile" class="profile">
          <div id="profileimg" class="profile-img bg-img"></div>
        </div>

        <div class="side-menu">
          <ul>
            <li>
              <a href="adminpanel.html">
                <span class="las la-home"></span>
                <small>Dashboard</small>
              </a>
            </li>
            
            <li>
              <a href="usersAdminpanel.html">
                <span class="las la-user-friends"></span>
                <small>Users</small>
              </a>
            </li>
            <li>
              <a href="driverAdminpanel.html" class="active">
                <span class="las la-taxi"></span>
                <small>Drivers</small>
              </a>
            </li>
            <li>
              <a href="">
                <span class="las la-envelope"></span>
                <small>Mailbox</small>
              </a>
            </li>
            <li>
              <a href="servicesAdminpanel.html">
                <span class="las la-clipboard-list"></span>
                <small>Services</small>
              </a>
            </li>
         
            <li>
              <a href="adminprofile.html">
                <span class="las la-user-alt"></span>
                <small>Profile</small>
              </a>
            </li>
            <li>
              <a href="">
                <span class="las la-tasks"></span>
                <small>Tasks</small>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="main-content">
      <header>
        <div class="header-content">
          <label for="menu-toggle">
            <span class="las la-bars"></span>
          </label>

          <div class="header-menu">
            <label for="">
              <span class="las la-search"></span>
            </label>

            <div class="notify-icon">
              <span class="las la-envelope"></span>
              <span class="notify"></span>
            </div>

            <div class="notify-icon">
              <span class="las la-bell"></span>
              <span class="notify"></span>
            </div>

            <div class="user">
              <div id="profileimg1" class="client-img bg-img"></div>

              <button id="logoutButton">
                <span class="las la-power-off"></span>
                <span>Logout</span>
              </button>
            </div>
          </div>
        </div>
      </header>

      <main>
        <div class="page-header">
          <h1>Dashboard</h1>
          <small>Home / Drivers</small>
        </div>

        <div class="page-content">
          <div class="cards-container">
            <div class="card1">
              <div class="card-head">
                <h2 id="totaladministrators">Loading...</h2>
                <span class="las la-home"></span>
              </div>
              <div class="card-progress" id="administatorProgress"></div>
              <small>Administrators</small>
            </div>
          
            <div class="card1">
              <div class="card-head">
                <h2 id="totalSuper">Loading...</h2>
                <span class="las la-user"></span>
              </div>
              <div class="card-progress" id="superProgress"></div>
              <small>super-admins</small>
            </div>

            <div class="card1">
              <div class="card-head">
                <h2 id="totalAdmins">Loading...</h2>
                <span class="las la-user-friends"></span>
              </div>
              <div class="card-progress" id="adminProgress"></div>
              <small>admins</small>
            </div>

            
          
            <div class="card1">
              <div class="card-head">
                <h2 id="totalDrivers">Loading...</h2>
                <span class="las la-car"></span>
              </div>
              <div class="card-progress" id="driversProgress"></div>
              <small>Drivers</small>
            </div>
            <div class="card1">
              <div class="card-head">
                <h2 id="totalUsers">Loading...</h2>
                <span class="las la-users"></span>
              </div>
              <div class="card-progress" id="usersProgress"></div>
              <small>Users</small>
            </div>


          </div>

          <div class="records table-responsive">
            <div class="record-header">
              <!-- <div class="add">
                <span>Entries</span>
                <select name="" id="">
                  <option value="">ID</option>
                </select>
                <button>Add record</button>
              </div> -->

              <div class="browse">
                <input
                  type="search"
                  placeholder="Search"
                  class="record-search"
                />
                <select name="" id="">
                  <option value="">Status</option>
                </select>
              </div>
            </div>

            <div>
              <table width="100%">
                <thead>
                  <tr>
                    <th>#</th>
                    <th><span class="las la-sort"></span> USERS</th>
                    <th><span class="las la-sort"></span> USER_NAME</th>
                    <th><span class="las la-sort"></span> MOBILE</th>
                    <th><span class="las la-sort"></span> REGITERED DATE</th>
                    <th><span class="las la-sort"></span> EXPERIENCE</th>
                    <th><span class="las la-sort"></span> RATING</th>
                    <th><span class="las la-sort"></span> ACTIONS</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
              <div id="pagination"></div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script src="../script/driverAdminpanel.js"></script>
    <script src="../script/profilephto.js"></script>
    <script src="../script/analysis.js"></script>
  </body>
</html>
