<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/footer.css">
</head>
<body>
    <!-- brands -->
<div class="brands">
    <div class="small-container">
        <div class="row">
            <div class="col-5">
                <img src="../images/logo-godrej.png">
            </div>
            <div class="col-5">
                <img src="../images/logo-oppo.png">
            </div>
            <div class="col-5">
                <img src="../images/logo-coca-cola.png">
            </div>
            <div class="col-5">
                <img src="../images/logo-paypal.png">
            </div>
            <div class="col-5">
                <img src="../images/logo-philips.png">
            </div>
        </div>
    </div>
</div>


<!-- footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>Download Our App</h3>
                <p>Download App for Android and ios mobile phone.</p>
                <div class="app-logo">
                    <img src="../images/play-store.png">
                    <img src="../images/app-store.png">
                </div>
            </div>
            <div class="footer-col-2">
                <img src="../images/output-onlinepngtools (1).png" >
                <p>Our Purpose Is To Sustainably Make the Pleasure and Benefits of Sports Accessible to the Many.
                </p>
            </div>
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Join Affiliate</li>
                </ul>
            </div>
            <div class="footer-col-4">
                <h3>Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <hr>
        <p class="copyright"><i class="fa-regular fa-copyright"></i> Ecommerce Made with <i class="heart fa-solid fa-heart"></i> Shraddha Gawde</p>
    </div>
</div>




</body>
</html>