<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../style/footer.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <!-- brands -->
    <div class="brands1">
      <div class="small-container11">
        <div class="row1">
          <div class="col-51">
            <img src="../images/logo-godrej.png" />
          </div>
          <div class="col-51">
            <img src="../images/logo-oppo.png" />
          </div>
          <div class="col-51">
            <img src="../images/logo-coca-cola.png" />
          </div>
          <div class="col-51">
            <img src="../images/logo-paypal.png" />
          </div>
          <div class="col-51">
            <img src="../images/logo-philips.png" />
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <div class="footer">
      <div class="container">
        <div class="row1">
          <div class="footer-col-1">
            <h3>Download Our App</h3>
            <p>Download App for Android and ios mobile phone.</p>
            <div class="app-logo">
              <img src="../images/play-store.png" />
              <img src="../images/app-store.png" />
            </div>
          </div>
          <div class="footer-col-2">
            <img src="../images/output-onlinepngtools (1).png" />
            <p>
              Our Purpose is we ignite opportunity by setting the world in
              motion
            </p>
          </div>
          <div class="footer-col-3">
            <h3>Useful Links</h3>
            <ul>
              <li>Coupons</li>
              <li>Blog Post</li>
              <li>Return Policy</li>
              <li>Join Affiliate</li>
            </ul>
          </div>
          <div class="footer-col-4">
            <h3>Follow Us</h3>
            <ul>
              <li>Facebook</li>
              <li>Twitter</li>
              <li>Instagram</li>
              <li>Youtube</li>
            </ul>
          </div>
        </div>
        <hr />
        <p class="copyright">
          <i class="fa-regular fa-copyright"></i> RideShareX Made with
          <i class="heart fa-solid fa-heart"></i> tech-Sankat-Nivran
        </p>
      </div>
    </div>
  </body>
</html>
