<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../style/header.css">
</head>
<body>
    <div class="main-container">
        <div class="background-text">
            <h2>book a <span>cab now</span></h2>
        </div>
        <header class="header">
            <a href="./index.html" id="logo">
                <img style="height: 20%; width: 40%;" src="../images/output-onlinepngtools (1).png" alt="">
            </a>
            <nav class="navbar">
                <a href="#">home</a>
                <a href="#">blog</a>
                <a href="#">about</a>
                <a href="#">Contact</a>
                <a href="#" id="button-bar" class="fas fa-bars"></a>
                <div class="navbar1">
                    <button>signup</button>
                    <button>login</button>
                </div>
                
            </nav>
            
            <a href="#" id="menu-bars" class="fas fa-bars"></a>
        </header>
        <div class="taxi-image">
            <img src="../images/Car-Download-PNG.png" alt="">
        </div>
    </div>
    <script src="../script/script.js"></script>
</body>

</html>