<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="../style/header.css"> -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../css/business-frontpage.css" rel="stylesheet">
    <link
      rel="stylesheet"
      href="../fontawesome-free-5.15.3-web/css/all.min.css"
    />
    <style>
      .nav-list {
    display: flex;
}

.nav-end {
    margin-right: 50px;
}
#button{
  border-radius: 50%;
  width: 3rem;
}
    </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <!-- <a  class="navbar-brand" href="#"><img style="width: 10rem;" src="../images/output-onlinepngtools (1).png" alt=""></a> -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="blog.page.html">Blogs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>


          <!-- <li class="nav-item">
            <a class="nav-link" href="">mytrips<label for="cars"></label>

              <select name="cars" id="cars">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
              </select></a>

          </li> -->
          
          
          
         
          
        </ul>
        
      </div>
      
    </div>
    
    <button id="profile" type="button" class="btn btn-dark" onclick="goToProfile()"><img id="button" src="../images/default.jpg" alt=""></button>
    <button id="logoutButton"  class="btn btn-outline-secondary" onclick="logout()">logout</button>
    
  
  
    
    <!-- <script src="../script/header.js"></script> -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  
 
</body>

</html>