<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../style/style.css">
   <link rel="stylesheet" href="../fontawesome-free-5.15.3-web/css/all.min.css">
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBl63QTmfYk3TROXtYhlDbB4KZ_lPe6EZE&libraries=places"></script>
   <style>
    #map {
      height: 700px;
      width: 100%;
    }
  </style>
</head>
<body>
    <div class="main-container">
        <div class="background-text">
            <h2>book a <span>cab now</span></h2>
        </div>
        <header class="header">
            <a href="./index.html" id="logo">
                <img style="height: 20%; width: 40%;" src="../images/output-onlinepngtools (1).png" alt="">
            </a>
            <nav class="navbar">
                <a href="#">home</a>
                <a href="#">blog</a>
                <a href="#">about</a>
                <a href="#">Contact</a>
                <a href="#" id="button-bar" class="fas fa-bars"></a>
                <div class="navbar1">
                    <button>signup</button>
                    <button>login</button>
                </div>
                
            </nav>
            
            <a href="#" id="menu-bars" class="fas fa-bars"></a>
        </header>
        <div class="taxi-image">
            <img src="../images/Car-Download-PNG.png" alt="">
        </div>
    </div>

<!-- home section -->
<div class="home-container">
    <div class="home-content">
        <div class="inner-content">
            <h3>best in city</h3>
            <h2>trusted cab sservice in county</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum nihil deserunt odio repellendus dolorum suscipit excepturi placeat facilis dignissimos officiis aut nam, delectus possimus rerum consequatur similique! Deserunt, vitae. Officiis?</p>
            <a href="#" class="booknow">book now</a>
        </div>
        <div class="inner-content">
           <div class="contact-form">
               <div class="form-heading">
                   <h1>book a cab</h1>
               </div>
               <div class="form-fields">
                   <input type="text" placeholder="name">
                   <input type="text" placeholder="phone">
                   <input type="text" placeholder="when">
                   <input type="text" placeholder="date">
                   <input type="text" placeholder="start">
                   <input type="text" placeholder="end">
               </div>
               <div class="submit">
                <a href="#">Submit</a>
               </div>
              
           </div>
           
        </div>
    </div>
</div>
<!-- home section ended -->

<!-- our tariff -->

<div class="main-tariff">
    <h1>our <span>tarrif</span></h1>
    <div class="inner-tarrif">
        <div class="tarrif-container">
            <div class="inner-box">
                <img src="../images/image1.png" alt="">
                <h2>economy class</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat illum officia fugiat, autem facere iste repellendus omnis nemo dolore</p>
                <h3>price: $3 /-</h3>
                <a href="#">order now</a>
            </div>
        </div>

        <div class="tarrif-container">
            <div class="inner-box">
                <img src="../images/image1.png" alt="">
                <h2 class="heading-yellow">economy class</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat illum officia fugiat, autem facere iste repellendus omnis nemo dolore</p>
                <h3 class="yellw-section">price: $3 /-</h3>
                <a href="#" class="btn-yellow">order now</a>
            </div>
        </div>

        <div class="tarrif-container">
            <div class="inner-box">
                <img src="../images/image1.png" alt="">
                <h2>economy class</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat illum officia fugiat, autem facere iste repellendus omnis nemo dolore</p>
                <h3>price: $3 /-</h3>
                <a href="#">order now</a>
            </div>
        </div>
    </div>
</div>


<!-- our tariff ended -->

<!-- fast booking -->
<div class="fast-booking">
    <h1 class="fast-hading">we do best</h1>
    <h2>than you wish</h2>
    <div class="inner-fast">
        <div class="booking-content">
            <div class="icon-fast">
                <span><i class="fas fa-star" style="color: rgb(95, 91, 91);"></i></span>
            </div>
            <div class="inner-fast-text">
                <h1>fast booking</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae debitis asperiores adipisci, totam volu</p>
            
            </div>
                
        </div>
        <div class="booking-content">
            <div class="icon-fast">
                <span><i class="fas fa-map-marker-alt" style="color: rgb(95, 91, 91);"></i>></i></span>
            </div>
            <div class="inner-fast-text">
                <h1>fast booking</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae debitis asperiores adipisci, totam volu</p>
            
            </div>
        </div>
        <div class="booking-content">
            <div class="icon-fast">
                <span><i class="fas fa-map-marker-alt"style="color: rgb(95, 91, 91);"></i>></i></span>
            </div>
            <div class="inner-fast-text">
                <h1>fast booking</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae debitis asperiores adipisci, totam volu</p>
            
            </div>
        </div>
        <div class="booking-content">
            <div class="icon-fast">
                <span><i class="fas fa-map-marker-alt" style="color: rgb(95, 91, 91);"></i>></i></span>
            </div>
            <div class="inner-fast-text">
                <h1>fast booking</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae debitis asperiores adipisci, totam volu</p>
            
            </div>
        </div>
    </div>
</div>




<!-- fast booking end -->



<div class="testimonials">
    <h1 class="heading-test">happy clients</h1>
    <div class="main-testimonials">
        <div class="inner-test">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe veritatis fugit magnam esse, amet adipisci eaque dolore explicabo quidem laudantium ad, enim, obcaecati optio? Harum porro delectus accusamus assumenda ullam.</p>
            <div class="clients">
                <img src="../images/jhon.png" alt="">
                <h1>jhone doe</h1>
            </div>
        </div>
        <div class="inner-test">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe veritatis fugit magnam esse, amet adipisci eaque dolore explicabo quidem laudantium ad, enim, obcaecati optio? Harum porro delectus accusamus assumenda ullam.</p>
            <div class="clients">
                <img src="../images/jhon.png" alt="">
                <h1>jhone doe</h1>
            </div>
        </div>
    </div>
</div>






<div>
    <label for="startLocation">Start Location:</label>
    <input type="text" id="startLocation" class="location-input">
  </div>

  <div>
    <label for="destinationLocation">Destination Location:</label>
    <input type="text" id="destinationLocation" class="location-input">
  </div>

  <div id="map"></div>
  <input type="text" id="pac-input" placeholder="Search places">























    <script src="../script/script.js"></script>
    <script>
  function initMap() {
      const map = new google.maps.Map(document.getElementById('map'), {
        center: { lat: -34.397, lng: 150.644 },
        zoom: 8
      });

      const startInput = document.getElementById('startLocation');
      const destinationInput = document.getElementById('destinationLocation');

      const startSearchBox = new google.maps.places.SearchBox(startInput);
      const destinationSearchBox = new google.maps.places.SearchBox(destinationInput);

      map.controls[google.maps.ControlPosition.TOP_LEFT].push(startInput);
      map.controls[google.maps.ControlPosition.TOP_LEFT].push(destinationInput);

      map.addListener('bounds_changed', function () {
        startSearchBox.setBounds(map.getBounds());
        destinationSearchBox.setBounds(map.getBounds());
      });

      let startMarker;
      let destinationMarker;
      let directionsService = new google.maps.DirectionsService();
      let directionsRenderer = new google.maps.DirectionsRenderer({
        map: map
      });

      startSearchBox.addListener('places_changed', function () {
        const places = startSearchBox.getPlaces();
        if (places.length === 0) return;

        if (startMarker) {
          startMarker.setMap(null);
        }

        startMarker = new google.maps.Marker({
          map: map,
          title: places[0].name,
          position: places[0].geometry.location
        });

        calculateAndDisplayRoute();
      });

      destinationSearchBox.addListener('places_changed', function () {
        const places = destinationSearchBox.getPlaces();
        if (places.length === 0) return;

        if (destinationMarker) {
          destinationMarker.setMap(null);
        }

        destinationMarker = new google.maps.Marker({
          map: map,
          title: places[0].name,
          position: places[0].geometry.location
        });

        calculateAndDisplayRoute();
      });

      function calculateAndDisplayRoute() {
        if (startMarker && destinationMarker) {
          const request = {
            origin: startMarker.getPosition(),
            destination: destinationMarker.getPosition(),
            travelMode: 'DRIVING'
          };

          directionsService.route(request, function(result, status) {
            if (status === 'OK') {
              directionsRenderer.setDirections(result);
            }
          });
        }
      }
    }

    initMap();
      </script>
    
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBl63QTmfYk3TROXtYhlDbB4KZ_lPe6EZE&libraries=places&callback=initMap"></script>
    
</body>
</html>

 <!-- <div class="myform">
                <div class="heading">
                    <h2>book cab</h2>
                </div>
                <div class="myfields">
                    <input type="text" placeholder="when">
                    <input type="text" placeholder="when">
                    <input type="text" placeholder="when">
                    <input type="text" placeholder="when">
                    <input type="text" placeholder="when">
                    <input type="text" placeholder="when">
                </div>
                <a href="#">Submit</a>
            </div> -->