@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f2f2f2;

}

.container1 {
  display: flex;
  flex-wrap: wrap; /* Enable flex items to wrap onto multiple lines */
  background-color: #f2f2f2;
}

#map-container {
  /* flex: 1; */
  height: 80vh;
  width: 70%;
  order: 2; /* Change the order for desktop view */
  margin: 1rem 0;
}

#map {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#side-panel {
  /* flex: 1; */
  /* max-width: 400px; */
  width: 30%;
  padding: 20px;
  background-color: #f2f2f2;
}

#ride-requests {
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 1rem 2rem ;
}
#ride-requests h2{
  margin-left: 0.5rem;
  margin-bottom: 0.7rem;
}
#ride-list {
  list-style-type: none;
}

#ride-list li {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  padding: 10px 1rem;
  background-color: #fff;
  border-radius: 5px;
  font-size: 1.3rem;
  font-weight: bold;
  height: 7vh;
  border-radius: 2rem;
  font-family: 'Poppins', sans-serif;
  border: none;
  color: rgb(4, 91, 104);
}
#ride-list li button{
  border: none; ;
  height: 100%;
  width: 6rem;
  border-radius: 1rem;
  font-weight: bold;
  background-color: #dbd9d9;
}
#ride-list li button:hover{
  background-color: #c5c3c3;
  cursor: pointer;
}
#driver-status {
  text-align: center;
}

#status {
  font-size: 18px;
  margin-bottom: 10px;
}

#toggle-status {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#toggle-status:hover {
  background-color: #45a049;
}
.material-symbols-outlined{
  color: #45a049;
}
#ride-list li .back-color-white{
  background-color: white;
}

/* Media query for screens smaller than 600px (mobile view) */
@media only screen and (max-width: 900px) {
  .container1 {
    flex-direction: column; /* Stack items vertically */
  }
  #side-panel {
    width: 100%;
  }
  #map-container {
    order: 1;
    width: 100%;
    /* Change the order for mobile view */
  }
  #ride-list li button{
    width: 9rem;
  }
  #ride-list li{
    font-size: 0.8rem;
  }
  #ride-requests h2{
    font-size: 2rem;
  }

}
