/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

#popup * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
#popup {
  position: fixed;
  height: 100%;
  width: 100%;
  background: #e3f2fd;
}
#popup button {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  padding: 14px 22px;
  border: none;
  background: #4070f4;
  border-radius: 6px;
  cursor: pointer;
}
#popup button:hover {
  background-color: #265df2;
}

#popup .modal-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
#popup.active .show-modal {
  display: none;
}
#popup .overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
}
#popup.active .overlay {
  opacity: 1;
  pointer-events: auto;
}
#popup .modal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 380px;
  width: 100%;
  padding: 30px 20px;
  border-radius: 24px;
  background-color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  transform: translate(-50%, -50%) scale(1.2);
}
#popup.active .modal-box {
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) scale(1);
}
#popup .modal-box i {
  font-size: 70px;
  color: #4070f4;
  font-family: "Font Awesome 6 Free";
}
#popup .modal-box h2 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
  color: #333;
}
#popup .modal-box h3 {
  font-size: 16px;
  font-weight: 400;
  color: #333;
  text-align: center;
}
#popup .modal-box .buttons {
  margin-top: 25px;
}
#popup .modal-box button {
  font-size: 14px;
  padding: 6px 12px;
  margin: 0 10px;
}

.contact-invisible{
  display: none;
}
