* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: .2s linear;
    text-transform: capitalize;
    text-decoration: none;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}


.main-container {
    background: url(../images/background.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 78vh;
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 7%;
    align-items: center;
    box-shadow: 0 0 10px #000;
     background: #00000083;
     /* position: sticky; */
}

.header .navbar a {
    font-size: 1.7rem;
    margin-left: 1rem;
    color: white;
    text-decoration: none;
    padding: 1rem;
}

.header .navbar a:hover {
    background: #f0f9e2;
    padding: .5rem 1rem;
    border-radius: 15px;
    color: black;
}
#openModalButton{
    background: transparent;
    padding: .5rem 1rem;
    border-radius: 15px;
    color: white;
}
#openModalButton:hover{
    color: black;
    padding: .7rem 2rem;
    background: #f0f9e2;
}
.button2{
border: solid 1px black;
padding: 5rem;
font-size: 3rem;
margin: 1.5rem;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
border-radius: 5px;
}

#menu-bars {
    color: white;
    font-size: 2rem;
    display: none;
}

.navbar.active {
    top: 10%;
}
.navbar1 {
    display: none;
}

/* Show .navbar1 when .active class is present */
.navbar1.active {
    display: flex; /* Assuming you want it as a flex container */
    flex-direction: column; /* Adjust this based on your layout */
}

/* Styles for the hamburger icon */
#button-bar {
    cursor: pointer;
}

.background-text h2 {
    color: white;
    font-size: 50px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background-text h2 span {
    color: #f0f9e2;
}

.taxi-image {
    width: 50%;
    margin: 0 auto;
}

.taxi-image img {
    width: 100%;
    margin-top: 25%;
}

.home-container {
    background: #fefefe;
    /* padding: 3rem 7%; */
    width: 100%;
    padding-top: 4rem;
    justify-content: center;
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
/* .small-container11{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
} */

.home-content {
    padding-top: 6rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.inner-content1 {
    justify-content: center;
    flex: 1 1 45rem;
    padding: rem;
}
.inner-content1 img{
    /* justify-content: center; */
    /* flex: 1 1 45rem; */
    padding: 4rem;
    width: 100%;
}
.inner-content {
    justify-content: center;
    width: 5rem;
    flex: 1 1 45rem;
    padding: 6rem
    /* padding: 4rem; */
    /* padding-left: 7rem; */
}

.inner-content h1 {
    font-size: 5rem;
    padding-bottom: 5px;

}

.inner-content h2 {
    font-size: 38px;
    color: #333333;
    padding-bottom: 10px;
    padding-right: 20px;

}

.inner-content p {
    font-size: 2rem;
    padding-bottom: 1rem;
    text-align: justify;
    padding-bottom: 4rem
}

.inner-content .booknow {
    padding: 1rem 3rem;
    color: black;
    font-size: 1.5rem;
    border: 1px solid black;
    padding-top: 10px;
    font-weight: bold;
    border-radius: 10px;
}

.inner-content .booknow:hover {
    padding: 1.5rem 3rem;
    border: 1px solid #333333;
    border-radius: 15px;
    background: #333333;
    color: white;
    
}


/* Media Query for screens smaller than 768px */
@media only screen and (max-width: 768px) {
    .inner-content1, .inner-content {
        padding: 0%;
        padding-top: 0%;
        margin-bottom: 20px;
    }
    .inner-content1 img{
        padding: 1%;
        margin-top: 20px;
    }
    .inner-content h1 {
        font-size: 9rem; 
    }

    .inner-content h2 {
        font-size: 28px; 
        margin-bottom: 20px;
        padding: 5px; 
    }

    .inner-content p {
        font-size: 18px; 
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding-bottom: 1rem;
        margin-bottom: 20px;
        padding-right: 1rem;
    }

    .inner-content .booknow {
        padding: 0.8rem 1.5rem; /* Adjusted padding for smaller screens */
        font-size: 1rem; /* Adjusted font size for smaller screens 
        p
        */
        margin-bottom: 30px;
    
    }
    .background-text h2{
        font-size: 22px;
    }
    .main-container {
        background: url(../images/background.png);
        background-position: center;
        background-size: cover;
        width: 100%;
        height: 100vh;
        /* display: none; */
    }
    
}


.form-heading {
    text-align: center;
    background: black;
    padding: 2rem 0;
}

.form-heading h1 {
    color: white;
}

.contact-form {
    width: 100%; /* Adjusted width for responsiveness */
    background: white;
    text-align: center;
    padding: 2rem 1rem;
    margin: 0 auto;
}

.form-fields input {
    padding: 1rem; /* Adjusted padding for input fields */
    border: none;
    border-bottom: 1px solid black;
}

.contact-form a {
    background: black;
    width: 100%;
    display: inline-block;
    padding: 1rem 0; /* Adjusted padding for the link */
    color: white;
    font-size: 1.5rem;
}

.submit {
    padding-top: 1rem; /* Adjusted padding for the submit button */
}

.main-tariff{
    padding: 3rem 7%;
   
   
}
#maintarifh1{
    font-size: 24px;
}
.main-tariff h1{
    font-size: 38px;
    text-align: center;
    padding-bottom: 6rem;
}
.main-tariff h1 span{
    color: #ffc61a;
}
.inner-tarrif {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 150px; */
}

.tarrif-container {
    flex: 1 1 250px;
    text-align: center;
    padding: 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.tarrif-container:hover {
    transform: translateY(-5px);
}

.tarrif-container img {
    width: 100%;
    height: 200px;
    max-width: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.tarrif-container .inner-box h2 {
    font-size: 2rem;
    
    margin-bottom: 10px;
}

.tarrif-container .inner-box p {
    font-size: 1.5rem;
    color: #777;
    margin-bottom: 15px;
    width: 100%;
    height: 40%;
    /* display: none; */
}

.tarrif-container .inner-box h3 {
    color: #ffc61a;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.tarrif-container .inner-box h3 {
    color: #ffc61a;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.tarrif-container .inner-box a {
    font-size: 1.5rem;
    padding: 0.8rem 2rem;
    background: #000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
    cursor: pointer;
}

.tarrif-container .inner-box a:hover {
    background: #333;
}

.tarrif-container:nth-child(2) {
    background: #ffc61a;
    color: #000;
}

.heading-yellow {
    color: #ffc61a;
}

.yellw-section {
    color: #ffc61a;
}

.fast-booking {
    background: url(../images/secbg.png);
    background-size: cover;
    width: 100%;
    background-position: center;
}

.fast-booking .fast-hading {
    color: #ffc61a;
    font-size: 38px;
    text-align: center;
    padding-top: 2rem;
}

.fast-booking h2 {
    font-size: 31px;
    color: white;
    text-align: center;
}

.inner-fast {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 2rem; /* Adjusted padding for responsiveness */
    align-items: center;
}

.booking-content {
    flex: 1 1 100%; /* Adjusted width for responsiveness */
}

.booking-content {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.inner-fast-text h1 {
    font-size: 22px;
    color: #f0f9e2;
    padding: 1rem; /* Adjusted padding for responsiveness */
}

.inner-fast-text p {
    font-size: 1.5rem;
    padding: 1rem; /* Adjusted padding for responsiveness */
}

.icon-fast {
    background-color: #f0f9e2;
    width: 50px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
}

.icon-fast span i {
    line-height: 40px;
    font-size: 1.5rem;
}
.navButton{
    display: none;
}

.testimonials {
    background: url(../images/testimonial\ back.png);
    background-size: cover;
    background-position: center;
    width: 100%;
}

.testimonials .heading-test {
    color: #ffc61a;
    font-size: 38px;
    padding: 2rem;
    text-align: center;
}

.main-testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 2rem 7%;
}

.inner-test {
    flex: 1 1 100%; /* Adjusted width for responsiveness */
    color: white;
    background: black;
    padding: 1rem; /* Adjusted padding for responsiveness */
}

.inner-test p {
    font-size: 1.5rem;
    padding: 1rem; /* Adjusted padding for responsiveness */
}

.clients {
    display: flex;
    align-items: center;
}

.clients h1 {
    color: #ffc61a;
    margin-left: 1rem;
}
#button-bar {
    display: initial;
}
@media (min-width: 950px){
    .header{
        position: fixed;
    }
}

@media ((max-width: 950px) and (min-width: 250px)) {
    
    #logo{
        display: none;
    }
    /* html {
        font-size: 50%;
    } */

    #menu-bars {
        display: initial;
    }

    .navbar {
        position: absolute;
        top: -100%;
        right: 0;
        left: 0;
        box-shadow: 0 0 10px #000;
        background: #00000083;
    }
    #button-bar{
        display: none;
    }

    .navbar a {
        display: block;
        font-size: 1.5rem;
        background: transparent;
        margin: 1rem;
        padding: 1rem;
    }
    .navbar1 {
        position: absolute;
        top: -100%;
        right: 0;
        left: 0;
        box-shadow: 0 0 10px #000;
        background: #00000083;
    }
    .navbar button{
        display: inline;
        background: #f0f9e2;
    padding: .5rem 3rem;
    border-radius: 15px;
    color: black;
    }
    

    .header {
        padding: 2rem;
    }

    .tarrif-container {
        padding-bottom: 2rem; /* Adjusted padding for responsiveness */
    }

    .tarrif-container img {
        width: 60%;
        margin-top: 0;
    }

    .background-text h2 {
        width: 100%;
        text-align: center;
        font-size: 40px;
        top: 15%;
    }

    .main-container {
        height: 70%;
    }

    .background-text h2 {
        color: white;
        font-size: 40px;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}



/* Animation */
/* Keyframes */
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 7)); }
}

/* Styling */
.slider {
    background: white;
    box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
    height: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;

    /* Pause animation on hover */
    &:hover {
        animation-play-state: paused;
    }

    /* Before and After pseudo-elements */
    &::before,
    &::after {
        background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
        content: "";
        height: 100%;
        position: absolute;
        width: 200px;
        z-index: 2;
    }

    &::after {
        right: 0;
        top: 0;
        transform: rotateZ(180deg);
    }

    &::before {
        left: 0;
        top: 0;
    }

    /* Slide track */
    .slide-track {
        animation: scroll 40s linear infinite;
        display: flex;
        width: calc(250px * 14);
    }
    

    /* Individual slide */
    /* .slide {
        height: 50%;
        width: 50%;
        gap: 20px;
    } */
}
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
    
}

/* Style the modal content */
.modal-content {
    background-color: transparent;
    padding: 15% 20%;
    border-radius: 15px;
    text-align: center;
    
    /* border-radius: ; */
}

/* Style the close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}



/* Brands */
.brands1{
    margin: 100px auto;
}
.col-51{
    width: 160px;
}
.col-51 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-51 img:hover{
    filter: grayscale(0);
}
.small-container11{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/* Footer */
.footer{
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
.container{
    max-width: 1450px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
@media only screen and (max-width: 600px){

    .row1{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }

}


/* Brands */
.brands1{
    margin: 100px auto;
}
.col-51{
    width: 160px;
}
.col-51 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-51 img:hover{
    filter: grayscale(0);
}
.small-container11{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

/* Footer */
.footer{
    background: black;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col-1{
    flex-basis: 30%;
}
.footer-col-2{
    flex: 1;
    text-align: center;
}
.footer-col-2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}
ul{
    list-style-type: none;
}
.app-logo{
    margin-top: 20px;
}
.app-logo img{
    width: 140px;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}
.copyright{
    text-align: center;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}
.container{
    max-width: 1450px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}
@media only screen and (max-width: 600px){

    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }

}